# fastapi
# uvicorn[standard]
# python-dotenv
# openai
# pydantic
# transformers
# torch
# requests

torch==2.5.1+cpu
transformers==4.40.2
tokenizers==0.15.2
fastapi>=0.95
python-dotenv
openai>=1.30.1